@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
}

.hamburgare {
    margin: 20px;
    border: 2px dashed #56bfdf
} 

.ingredienser > ul > li:first-child {
    color: #ff2200;
    text-transform: uppercase;
}

.ingredienser img {
    border: 2px solid #f9efef;   
}

.ingredienser {
    margin: 5px;
    padding: 10px;
} 


#väljhamburgare {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
   
}

button:hover { /* Blir blå när musen rör knappen, deliverykillen tutar iväg på mopeden! */
    background-color: rgb(135, 213, 240);
    cursor: pointer; /* Lägg till en markör */
}

.skicka {
    margin: 20px; /* Space runt beställningsknappen */
}


.kundinformation {  /* Rutan med kundinformation */
    padding: 30px;
    margin: 20px;
    border: 2px dashed #56bfdf
}

.rubrik { /* Både anslagsbilden och välkommen */
    margin: 20px; 
    overflow: hidden;
    width: 96vw; 
    height: 40vh; 
    position: relative; 
    margin-left: auto;
    margin-right: auto;
}

.välkommen { /* Placerar "Välkommen till Burgir!" */
    position: absolute;
    top: 45%; /* Position vid vertikalt centrum */
    left: 50%; /* Position vid horizontallt centrum */
    transform: translate(-50%, -50%); /* Centrera texten */
    color: rgb(17, 17, 17);
    opacity: 1;
    z-index: 1; /* Sätt ett högre z-index för att se till att texten ligger över bilden */
}

#anslagsbild { /* Skapar hemsidans anslagsbild */
   opacity: 0.73; /* Väljer transparens mellan 0 och 1 */
   width: 100%; 
   object-fit: cover; /* Behåll sidoförhållandet och täck hela bredden */
}


